alabaster==0.7.7
amqp==1.4.8
anyjson==0.3.3
arrow==0.7.0
Babel==2.2.0
billiard==3.3.0.22
bson==0.4.1
celery==3.1.19
cffi==1.7.0
click==6.4
configobj==5.0.6
cryptography==1.4
decorator==4.0.6
Django==1.9.5
django-celery==3.1.17
django-jsonfield==0.9.15
django-redis-sessions==0.5.6
django-suit==0.2.18
docutils==0.12
idna==2.0
ipaddress==1.0.15
ipython==4.0.1
ipython-genutils==0.1.0
iso8601==0.1.11
Jinja2==2.8
jsonfield==1.0.3
kombu==3.0.32
MarkupSafe==0.23
mongoengine==0.10.6
ndg-httpsclient==0.4.0
path.py==8.1.2
pexpect==4.0.1
pgcli==0.20.1
pgspecial==1.3.0
phonenumbers==8.3.3
pickleshare==0.5
prompt-toolkit==0.46
psycopg2==2.6.1
ptyprocess==0.5
pyasn1==0.1.9
pycparser==2.14
Pygments==2.1
pymongo==3.2
PyMySQL==0.6.7
pyOpenSSL==0.15.1
python-dateutil==2.4.2
pytz==2015.7
qiniu==7.0.6
redis==2.10.5
requests==2.8.1
setproctitle==1.1.9
simplegeneric==0.8.1
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.3.5
sphinx-rtd-theme==0.1.9
sqlparse==0.1.16
traitlets==4.0.0
wcwidth==0.1.6
Werkzeug==0.11.2
tabulate==0.7.5
jpush==3.2.1
djangorestframework==3.3.3
drf-extensions==0.2.3
django-rest-swagger==0.3.8
pingpp==2.0.11
django-http-monitor==0.3.2
raven==5.25.0
gunicorn==19.6.0
Pillow==3.3.1
stravalib==0.6.3
xlwt==1.1.2
django-adminlte-admin==0.4.1
polyline==1.3.1
django-model-utils==2.6
django-extensions==1.7.5
django-filter==1.0.1
python-geohash==0.8.5
git+ssh://git@git.speedx.com/algorithm/Apollo.git#v0.1
fitparse==1.0.0
